@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
    background-color: #f5f5f5 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container-login{
    position: relative;
    display: block;
    margin: 12% auto;
    width: 400px;
    text-align: center;
    background: #fff;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.08);
    border-radius: 14px;
    img{
        margin-top: -140px;
    }
    .ls-panel{
        background: #FFFFFF;
        min-height: 200px;
        padding: 30px 50px;
        margin-top: -25px;
        border-radius: 14px;
        h3{
            margin-bottom: 24px;
            margin-top: -10px;
        }
        input{
            background: #FFFFFF;
            box-shadow:0px 0px 10px rgba(0, 0, 0, 0.07);
            height: 48px;
            width:100%;
            border-radius: 50px;
            margin-bottom: 17px;
            padding-left: 20px;
            padding-bottom: 5px;
            border: 1px solid #fff;
            Offset: 0px, 0px rgba(0, 0, 0, 0.07);
            &:focus{
                border: 1px solid #37DBE4;
                outline: none;
            }
        }
        .help-txt{
            font-size: 11px;
            color: #262628;
            opacity: 40%;
            font-weight: 500;
            margin-top: -7px;
            margin-bottom: 15px;
        }
        .link-holder{
            margin-top: 5px;
            font-size: 11px;
            color: #262628;
            font-weight: 500;
            a{
                color: #262628;
                font-size: 12px;
                opacity: 0.4;
                font-weight: 500;
                &.default{
                    color: #007bff;
                    opacity: 1;
                    display: block;
                }
            }
        }
    }
}

// button-block
.btn{
    &-theme{
        background: linear-gradient(180deg, #B40DFF 0%, #650ADD 100%);
        width: 210px !important;
        height: 48px;
        border-radius: 50px !important;
        color: #fff;
        text-transform: uppercase;
        display: block;
        font-weight: 500 !important;
        border: 0px !important;
    }
}
// button-block

// Modal style
.cstm-modal{
    .modal-header{
        border-bottom: 0px;
    }
    .modal-body{
        .container-login{
            box-shadow: none;
        }
    }
}
// Modal style

// sidebar
.sidebar-wrapper{
    width: 330px;
    height: 100%;
    position: fixed;
    background: #fff;
    left: 0px;
    top: 0px;
    .logo-sidebar{
        margin-top: 35px;
        margin-left: 30px;
    }
    .menu-list{
        margin: 0px;
        padding: 0px;
        list-style: none;
        margin-top: 60px;
        a{
            color: #41404D;
            font-weight: 600;
            font-size: 18px;
            position: relative;
            padding-left: 40px;
            height: 55px;
            display: block;
            line-height: 52px;
            text-indent: 35px;
            border-left: 8px solid #fff;
            svg{
                position: absolute;
                left: 25px;
                top: 12px;
                path{
                    fill: #41404D ;
                }
            }

            &.active{
                color: #650ADD;
                background: #f5f5f5;
                border-left-color: #650ADD;
                svg{
                    path{
                        fill:#650ADD; 
                    }
                }
            }

            &:hover{
                text-decoration: none;
            }
        }
    }
}
// sidebar

.wrapper{
    background: #F5F5F5;
    height: 100vh;
    padding-left: 330px;
    min-height: 500px;
}

// Navbar Cstm
.navbar-cstm{
    background: #fff;
    min-height: 60px;
}
// Navbar Cstm

.order-short-info{
    font-size: 24px;
    font-weight: 700;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 10px 20px;
    label{
        color: #650ADD;
        font-size: 28px;
        margin: 0px 30px;
        text-align: center;
        font-weight: 500;
        span{
            font-size: 16px;
            display: block;
            line-height: 5px;
            font-weight: 600;
        }
        .new{
            fill: #000;
        }
    }
}