@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  background-color: #f5f5f5 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-top: 60px;
}

.headerImage{
  background-size: 100% 100% !important;
}
.error-show{
  display: block;
  width: 100%;
  p{
    width: 50%;
    display: inline-block;
    font-size: 11px;
    text-align:center;
    font-weight: 500;
  }
}

.error-txt{
  font-size: 11px;
  font-weight: 500;
}

.container-login {
  position: relative;
  display: block;
  margin: 12% auto;
  width: 400px;
  text-align: center;
  background: #fff;
  box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  .pass-icon{
    position: relative;
    svg{
      position: absolute;
      right: 14px;
      top: 18px;
      cursor: pointer;
      &.color-switch{
        fill: #d8d8d8;
        path{
          fill: #afafaf;
        }
        &.active{
          path{
            fill: #afafaf;
          }
        }
      }
    }
  }
  img {
    margin-top: -140px;
  }
  .ls-panel {
    background: #ffffff;
    min-height: 200px;
    padding: 30px 50px;
    margin-top: -25px;
    border-radius: 14px;
    h3 {
      margin-bottom: 24px;
      margin-top: -10px;
    }
    input {
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
      height: 48px;
      width: 100%;
      border-radius: 50px;
      margin-bottom: 17px;
      padding-left: 20px;
      padding-bottom: 5px;
      border: 1px solid #fff;
      offset: 0px, 0px rgba(0, 0, 0, 0.07);
      &:focus {
        border: 1px solid #37dbe4;
        outline: none;
      }
      &.user{
        background: #fff url(../images/user-icon.svg)no-repeat !important;
        background-position: 15px 13px !important;
        padding-left: 40px !important;
      }
      &.pass{
        // background: #fff url(../images/eye-grey.svg)no-repeat !important;
        // background-position: 95% 17px!important;
        padding-left: 40px !important;
        padding-right: 30px;
        &:focus{
          // background: #fff url(../images/eye-active.svg)no-repeat !important;
          // background-position: 95% 17px!important;
          padding-left: 40px !important;
          padding-right: 30px;
        }
      }
    }
    .help-txt {
      font-size: 11px;
      color: #262628;
      opacity: 0.4;
      font-weight: 500;
      margin-top: -7px;
      margin-bottom: 15px;
    }
    .link-holder {
      margin-top: 5px;
      font-size: 11px;
      color: #262628;
      font-weight: 500;
      a {
        color: #262628;
        font-size: 12px;
        opacity: 0.4;
        font-weight: 500;
        &.default {
          color: #007bff;
          opacity: 1;
          display: block;
        }
      }
    }
  }
}

// button-block
.btn {
  &-theme {
    background: linear-gradient(180deg, #b40dff 0%, #650add 100%);
    width: 210px !important;
    height: 48px;
    border-radius: 50px !important;
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-weight: 500 !important;
    border: 0px !important;
    margin: 0px auto;
    &.btn-cat{
      position: absolute;
      bottom: 0px;
      width: 100% !important;
      border-radius: 7px !important;
      z-index: 9;
      span{
        font-size: 20px;
        position: absolute;
        left: 20px;
        top: 8px;
      }
    }
  }
}
// button-block

// Modal style
.cstm-modal {
  .modal-header {
    border-bottom: 0px;
  }
  .modal-body {
    .container-login {
      box-shadow: none;
    }
  }
}
// Modal style

// sidebar
.sidebar-wrapper {
  width: 330px;
  height: 100%;
  position: fixed;
  background: #fff;
  left: 0px;
  top: 0px;
  z-index: 999;
  transition: 0.4s;
  left: 0;
  .logo-sidebar {
    margin-top: 35px;
    margin-left: 30px;
  }
  .menu-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 60px;
    a {
      color: #41404d;
      font-weight: 600;
      font-size: 18px;
      position: relative;
      padding-left: 40px;
      height: 55px;
      display: block;
      line-height: 52px;
      text-indent: 35px;
      border-left: 8px solid #fff;
      cursor: pointer;
      svg {
        position: absolute;
        left: 25px;
        top: 12px;
        path {
          fill: #41404d;
        }
      }

      &.active {
        color: #650add;
        background: #f5f5f5;
        border-left-color: #650add;
        svg {
          path {
            fill: #650add;
          }
        }
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
  &.collapsed{
    left: -340px;
    // box-shadow: 2px 0px 10px #d8d8d8;
  }
}
// sidebar

.wrapper {
  background: #f5f5f5;
  height: 100vh;
  padding-left: 330px;
  min-height: 500px;
  &.full-view{
    padding-left: 0px;
  }
}

// Navbar Cstm
.navbar-cstm {
  background: #fff;
  min-height: 60px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 99;
  padding-left: 330px;
  &.full{
    padding-left: 0px;
  }
}

.avatar {
  display: inline-block;
}
.cstm-drop {
  display: inline-block;
  .dropdown-toggle {
    &::after {
      // display: none;
      border: 0px !important;
      //background: url(../images/down-arrow.svg) no-repeat;
      width: 18px;
      height: 10px;
      position: absolute;
      right: 25px;
      top: 46%;
    }
  }
  .btn {
    background: transparent !important;
    border: 0px !important;
    color: #000 !important;
    width: 165px !important;
    font-size: 18px;
    word-wrap: break-word;
    text-align: left !important;
    font-weight: 400;
    padding: 0px !important;
    height: 60px;
    padding-left: 10px !important;
    white-space: revert !important;
    padding-right: 50px !important;
  }
}

.tab-cstm {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px !important;
  div.nav-item {
    a {
      color: #000;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 2px 20px !important;
      &.active {
        background: #24dff7;
        color: #000 !important;
        border-radius: 20px;
      }
    }
  }
}
// Navbar Cstm

.order-short-info {
  font-size: 24px;
  font-weight: 700;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 10px 20px;
  label {
    color: #650add;
    font-size: 28px;
    margin: 0px 30px;
    text-align: center;
    font-weight: 500;
    position: relative;
    span {
      font-size: 16px;
      display: block;
      line-height: 5px;
      font-weight: 600;
    }
    &.decorate {
      color: transparent !important;
      position: relative;
      margin: 0px 0px;
      &::after {
        position: absolute;
        left: 3px;
        top: 5px;
        width: 2px;
        height: 45px;
        content: " ";
        background: #c1c1c1;
      }
    }
  }
}

.shadow-1 {
  box-shadow: 3.03333px 6.06667px 12.1333px rgba(0, 0, 0, 0.08);
}

.flex-area {
  padding: 30px !important;
}
.ord-table {
  width: 100%;
  border-radius: 18px;
  height: calc(100vh - 160px);
  background: #fff;
  overflow: auto;
  padding: 20px;
  table {
    width: 100%;
    color: #41404d;
    td {
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 15px;
    }
  }
  .ord-title {
    font-size: 18px;
    font-weight: 500;
    span {
      font-size: 13px;
      display: block;
      font-weight: 400;
    }
  }
  .price {
    font-size: 18px;
    font-weight: 500;
  }
  .btn-detail {
    background: linear-gradient(180deg, #24dff7 0%, #1cbec9 100%) !important;
    color: #fff;
    font-size: 11px !important;
    height: 24px !important;
    border: 0px !important;
    border-radius: 20px !important;
    padding: 0px 20px !important;
  }
}

.order-detail {
  background: #fff;
  height: calc(100vh - 160px);
  border-radius: 18px;
  padding-top: 15px;
  position: relative;
  .select-ins {
    font-size: 24px;
    font-weight: 600;
    padding: 30px;
    margin-top: 30px;
  }
  h3.order-title {
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .action-container {
    text-align: center;
    .btn-snipe {
      background: #650add;
      color: #fff;
      border-radius: 12px;
      display: inline-block;
      width: 80px;
      height: 95px;
      margin: 10px 15px;
      .inner {
        background: #570fb7;
        width: 60px;
        height: 60px;
        border: 0px;
        margin: 12px 4px 3px 4px;
        border-radius: 8px;
      }
      span {
        display: block;
        font-size: 12px;
      }
    }
    .btn-express {
      background: #37dbe4;
      color: #fff;
      border-radius: 12px;
      display: inline-block;
      width: 80px;
      height: 95px;
      margin: 10px 15px;
      .inner {
        background: #1ab9c1;
        width: 60px;
        height: 60px;
        border: 0px;
        margin: 12px 4px 3px 4px;
        border-radius: 8px;
      }
      span {
        display: block;
        font-size: 12px;
      }
    }
    .btn-confirm {
      background: #b30dff;
      color: #fff;
      border-radius: 12px;
      display: inline-block;
      width: 80px;
      height: 95px;
      margin: 10px 15px;
      .inner {
        background: #8a15bf;
        width: 60px;
        height: 60px;
        border: 0px;
        margin: 12px 4px 3px 4px;
        border-radius: 8px;
      }
      span {
        display: block;
        font-size: 12px;
      }
    }
    .btn-hold {
      background: #ededed;
      color: #fff;
      border-radius: 12px;
      display: inline-block;
      width: 80px;
      height: 95px;
      margin: 10px 15px;
      .inner {
        background: #bbbbbb;
        width: 60px;
        height: 60px;
        border: 0px;
        margin: 12px 4px 3px 4px;
        border-radius: 8px;
        svg {
          opacity: 0.4;
        }
      }
      span {
        display: block;
        font-size: 12px;
        color: #1a051d;
        opacity: 0.3;
      }
    }
  }
}

.order-ptable {
  display: block;
  padding: 15px;
  table {
    width: 100%;
    vertical-align: top;
    td {
      padding-bottom: 10px;
      vertical-align: top;
    }
    .item {
      &-quantity {
        font-size: 14px;
      }
      &-name {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 7px;
        span {
          font-size: 11px;
          color: #262628;
          opacity: 0.4;
          display: block;
          text-transform: capitalize;
        }
      }
      &-price {
        padding-left: 10px;
      }
    }
    .st-title {
      background: #ededed;
      padding: 4px 9px;
      color: #949494;
      font-size: 14px;
    }
    .total-ptable {
      width: 100%;
      tr {
        td {
          color: #aea7af;
          font-size: 14px;
        }
        &.total {
          font-weight: 600;
          text-transform: uppercase;
          td {
            font-size: 18px;
            border-top: 1px solid #ededed;
            color: #000;
          }
        }
      }
    }
  }
}

.express-title {
  position: absolute;
  background: #37dbe4;
  left: 0px;
  top: 0px;
  width: 100%;
  border-radius: 18px;
  height: 90px;
  .icon-area {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #12a9b1;
    border-radius: 15px;
    text-align: center;
    left: 15px;
    top: 15px;
    &.express {
      background: #27bfc7;
      svg {
        margin-top: 14px;
      }
    }
  }
  p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 82px;
    padding-left: 85px;
  }
  a {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}
.snipe-title {
  position: absolute;
  background: #650add;
  left: 0px;
  top: 0px;
  width: 100%;
  border-radius: 18px;
  height: 90px;
  .icon-area {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #4e0ba7;
    border-radius: 15px;
    text-align: center;
    left: 15px;
    top: 15px;
    &.express {
      background: #27bfc7;
      svg {
        margin-top: 14px;
      }
    }
    &.snipe {
      background: #4a0d9a;
      svg {
        margin-top: 14px;
      }
    }
  }
  p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 82px;
    padding-left: 85px;
  }
  a {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}

.order-desc-area {
  padding: 20px;
  padding-top: 100px;
  label {
    color: #41404d;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
  }
  p {
    font-size: 18px;
    line-height: 16px;
    color: #41404d;
  }
  .cam {
    background: #ededed url(../images/camera.svg) no-repeat;
    background-position: center;
    height: 300px;
    border-radius: 15px;
  }
}

.mod-rest-container {
  h3 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
  }
  label {
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
    text-transform: uppercase;
  }
  .cstm-select {
    margin-bottom: 20px;
    width: 47%;
  }
  .cstm-select-full {
    margin-bottom: 20px;
    width: 100%;
  }
  .uni-input {
    margin-bottom: 20px;
  }
  .cover-pic {
    .cvr {
      position: relative;
      width: 100%;
      &-main {
        height: 125px;
        position: relative;
        overflow: hidden;
        background-size: cover !important;
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.07);
          left: 0px;
          top: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          .btn-cvr-change {
            width: 35px;
            height: 35px;
            background: #fff;
            border-radius: 10px;
            border: 0px;
            svg {
              margin-top: -5px;
            }
          }
        }
      }
      &-photo {
        width: 80px;
        height: 80px;
        position: relative;
        border: 3px solid #fff;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -40px;
        margin-left: 20px;
        background-size: cover !important;

        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.07);
          left: 0px;
          top: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          .btn-photo-change {
            width: 35px;
            height: 35px;
            background: #fff;
            border-radius: 10px;
            border: 0px;
            svg {
              margin-top: -5px;
            }
          }
        }
      }
    }
  }
}

// Universal Inputs
.uni-input {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 50px;
  width: 100%;
  height: 48px;
  border: 1px solid #fff;
  padding-left: 12px;
  &:focus {
    border: 1px solid #650add;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  }
  &.md {
    height: 75px;
    border-radius: 50px;
  }
  &.tarea {
    height: 90px;
    border-radius: 50px;
    overflow: auto;
    resize: none;
    padding-left: 16px;
    padding-top: 15px;
  }
}

.modal-contact{
  padding: 20px;
  h3{
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
  }
  label{
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 7px;
    font-weight: 500;
  }
  input{
    margin-bottom: 20px;
  }
  button{
    margin-top: 30px;
  }
  .success-txt{
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.cstm-select-full{
  width: 100%;
}
.cstm-select {


  &.mini {
    .css-yk16xz-control {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07) !important;
      border: 1px solid #fff !important;
      border-radius: 50px !important;
      height: 35px !important;
      width: 100%;
    }
    .css-1fhf3k1-control{
      border-radius: 35px;
    }
    .css-1pahdxg-control {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07) !important;
      border: 1px solid #650add !important;
      border-radius: 50px !important;
      height: 35px !important;
      width: 100%;
    }
  }
  .css-yk16xz-control {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07) !important;
    border: 1px solid #fff !important;
    border-radius: 50px !important;
    height: 48px !important;
  }
  .css-1fhf3k1-control{
    border-radius: 35px;
  }
  .css-1pahdxg-control {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07) !important;
    border: 1px solid #650add !important;
    border-radius: 50px !important;
    height: 48px !important;
  }
  .css-1okebmr-indicatorSeparator {
    display: none;
  }
  // .css-tlfecz-indicatorContainer{
  //   background: linear-gradient(45deg, #0BFFFB 0%, #26ABC6 100%) !important;
  // }
  .css-6q0nyr-Svg {
    fill: transparent;
    background: url(../images/arrow-select.svg) no-repeat;
    background-position: 0px;
  }
}

.oc-checkbox {
  display: inline-block;
  .icon {
    width: 38px !important;
    svg {
      border: 0px !important;
      border-radius: 6px;
      background: transparent !important;
      color: transparent !important;
      box-shadow: 0px 0px 0px 2px #c1c1c1;
      path {
        transform: scale(0.5);
        transform-origin: center;
      }
    }
  }
  &.checked {
    svg {
      color: #fff !important;
      background: linear-gradient(180deg, #b40dff 0%, #650add 100%) !important;
    }
  }
}
// Universal Inputs

.hor-inline {
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
  .chk-label {
    font-size: 12px;
    margin-left: 5px;
  }
  .time-block {
    width: 300px;
    float: right;
    margin-top: 3px;
    position: relative;
    .dash {
      position: absolute;
      left: 49%;
      top: 5px;
    }
  }
}

.mod-rest-container {
  .rotator-container {
    height: 80vh;
    position: relative;
    margin-bottom: 20px;
    .rotator-scroll{
      position: absolute;
      height: calc(100% - 55px);
      width: 100%;
      overflow: auto;
      padding: 5px;
      z-index: 1;
    }
    .rotator {
      box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.08);
      width: 100%;
      height: 48px;
      background: #fff;
      border-radius: 10px;
      position: relative;
      margin-bottom: 20px;
      .directional {
        position: absolute;
        left: 0px;
        top: 10px;
        height: 30px;
        width: 30px;
        svg.top {
          position: absolute;
          top: 5px;
          left: 10px;
          cursor: pointer;
        }
        svg.bottom {
          position: absolute;
          bottom: 5px;
          left: 10px;
          transform: rotate(180deg);
          cursor: pointer;
        }
      }
      input {
        margin-left: 30px;
        margin-top: 12px;
        font-weight: 600;
        text-transform: uppercase;
        border: 0px;
        width: 85%;
        &:focus {
          outline: none;
        }
      }
      .action {
        position: absolute;
        right: 15px;
        top: 10px;
        svg {
          cursor: pointer;
        }
      }
      &.active {
        box-shadow: 0px 0px 1px 1px #37dbe4;
        .directional {
          svg {
            fill: #37dbe4;
            path {
              fill: #37dbe4;
            }
          }
        }
      }
      &.inactive{
        background: #EDEDED;
      }
    }
    &.lg {
      min-height: 50px;
      .rotator {
        height: auto;
        display: flex;
        .directional {
          top: 32px;
        }
      }
      .img {
        width: 100px;
        height: 68px;
        border-radius: 5px;
        display: inline-block;
        margin: 15px 15px 8px 30px;
        background-color: #d8d8d8;
        background-size: cover !important;
      }
      .menu-ind {
        display: inline-block;
        width: 100%;
        padding: 15px 20px 10px 10px;

        p {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 0px;
          margin-bottom: -5px;
        }
        span {
          font-size: 11px;
        }
        button {
          width: 100%;
          border: 0px;
          color: #fff;
          font-size: 14px;
          height: 26px;
          border-radius: 20px;
          margin-top: 10px;
          background: linear-gradient(180deg, #24dff7 0%, #1cbec9 100%);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
          &:focus{
            outline: none;
          }
        }
      }
    }
  }
}

.menu-btn{
  display: none;
  display: block;
  position: absolute;
  left: 10px;
  top: 14px;
}
.menu-close{
  border: 0px;
  background: transparent;
  position: absolute;
  right: 20px;
  top: 48px;
  display: none;
}
.hidden-lg{
  display: none;
}

.mb-total-view{
  background: linear-gradient(180deg, #B40DFF 0%, #650ADD 100%);
  border-radius: 12px;
  min-height: 50px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  position: relative;
  display: none;
  &::after{
    width: 2px;
    height: 100%;
    background: #fff;
    content: " ";
    position: absolute;
    left: 50%;
    top: 0px;
  }
  label{
    font-size: 20px;
    margin-top: 10px !important;
    line-height: 20px;
    span{
      display: block;
      font-size: 18px;
    }
  }
}

.desk-total-view{
  background: linear-gradient(180deg, #B40DFF 0%, #650ADD 100%);
  border-radius: 12px;
  min-height: 50px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  position: relative;
  margin: 0px;
  margin-top: 25px;
  margin-bottom: 35px;
  &.white{
    background: #fff;
    color: #000;
    &::after{
      background: #ddd;
    }
  }
  &::after{
    width: 2px;
    height: 100%;
    background: #fff;
    content: " ";
    position: absolute;
    left: 50%;
    top: 0px;
  }
  label{
    font-size: 20px;
    margin-top: 10px !important;
    line-height: 20px;
    span{
      display: block;
      font-size: 18px;
    }
  }
}

.menu-dots{
  position: absolute;
  right: 15px;
  top: 18px;
}

.collapse-area{
  float: none;
  margin: 0px auto;
  .collapse-container{
    margin-bottom: 20px;
    .react-switch{
      svg{
        fill: transparent !important;
        path{
          fill: transparent !important;
        }
      }
    }
    .collapse-header{
      background: #fff;
      border-radius: 10px;
      min-height: 40px;
      padding: 10px;
      color: #3F3356;
      svg{
        margin-right: 15px;
        fill: #3F3356;
        path{
          fill: #3F3356;
        }
      }
      span{
        font-size: 18px;
        font-weight: 600;
      }
      .arrow{
        margin-left: 15px;
        margin-top: -2px;
      }
      &.active{
        background: #650ADD;
        color: #fff;
        svg{
          fill: #fff;
          path{
            fill: #fff;
          }
        }
      }
    }
    .collapse-content{
      .col{
        padding: 25px 20px;
        .chk-label{
          margin-left: 25px;
          text-transform: capitalize;
        }
        label{
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          margin-left: 8px;
        }
        input{
          margin-bottom: 20px;
        }
      }
    }
  }
}

.ca-delivery{
  .collapse-header{
    color: #3F3356;
    svg{
      fill: #3F3356;
      path{
        fill: #3F3356;
      }
    }
    &.active{
      background: #37DBE4 !important;
      color: #3F3356 !important;
      svg{
        fill: #3F3356 !important;
        path{
          fill: #3F3356 !important;
        }
      }
      .react-switch{
        svg{
          fill: transparent !important;
          path{
            fill: transparent !important;
          }
        }
      }
    }

  }
}

// switch
.switch.btn-sm{
    min-width: 4.25rem;
    border-radius: 35px;
    min-height: calc(1.5em + .5rem + 2px);
}

.react-switch{
  float: right;
  margin-top: -2px;
}
// switch

.index-sample{
  .col{
    font-size: 14px;
    position: relative;
    color: #AEA7AF;
    padding: 7px !important;
    font-weight: 500;
    &:nth-child(2)::after{
      position: absolute;
      content: " ";
      width: 100%;
      height: 5px;
      left: 10px;
      top: 18px;
      border-top: 1px dashed #AEA7AF;
    }
    &:nth-child(3){
      text-align: right;
    }
  }
}
.collapse-end{
  .col{
    .chk-label{
      margin-left: 25px !important;
      text-transform: capitalize;
    }
  }
}

.add-menu{
  width: 100% !important;
  position: absolute;
  bottom: 0px;
  border-radius: 10px !important;
  padding: 15px !important;
  height: auto;
  z-index: 9;
  cursor: pointer;
  .add-item{
    width: 65px;
    height: 65px;
    float: left;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      font-size: 20px;
      color: #000;
    }
  }
  .add-details{
    float: left;
    padding-left: 20px;
    width: calc(100% - 75px);
    position: relative;
    .title{
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 0px;
    }
    .dummy{
      width: 100%;
      height: 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      background: #fff;
      opacity: 0.2;
    }
    .btn-add-menu{
      position: absolute;
      background: #fff;
      border-radius: 10px;
      color: #4a0d9a;
      border: 0px;
      font-size: 13px;
      text-transform: uppercase;
      right: 0px;
      bottom: 5px;
      min-width: 80px;
    }
  }
}

.rotator-stripe{
  .rotator-title{
    margin-top: -8px;
    padding-bottom: 1px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }
}

.add-menu-new{
  width: 100% !important;
  position: relative;
  background: #fff;
  overflow: hidden;
  color: #000;
  bottom: 0px;
  border-radius: 10px !important;
  padding: 15px !important;
  height: auto;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.08);
  .add-item{
    width: 65px;
    height: 65px;
    float: left;
    background: #EDEDED;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      font-size: 20px;
      color: #000;
    }
  }
  .add-details{
    float: left;
    padding-left: 20px;
    width: calc(100% - 75px);
    position: relative;
    .title{
      font-size: 14px;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 0px;
    }
    .dummy{
      width: 100%;
      height: 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      background: #fff;
      font-size: 11px;
      color: #262626;
      opacity: 0.4;
    }
    .price{
      font-size: 18px;
      color: #000;
      margin-top: 28px;
    }
  }
  .btn-add-menu{
    position: absolute;
    border-radius: 10px;
    color: #fff;
    border: 0px;
    font-size: 13px;
    text-transform: uppercase;
    right: 10px;
    bottom: 10px;
    min-width: 80px;
    background: linear-gradient(180deg, #25E4FF -10.42%, #1CBEC9 110.42%);
  }
}

.menu-details{
  height: 82vh;
  overflow: auto;
  padding-right: 10px;
  overflow-x: hidden;
}
.menu-elements{
  .menu-tabs{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
    li{
      list-style: none;
      display: inline-block;
      a{
        font-size: 14px;
        color: #000;
        background: #EDEDED;
        border-radius: 20px;
        display: block;
        margin-right: 10px;
        padding: 7px 15px;
        text-decoration: none;
      }
      &.active{
        a{
          color: #fff;
          background: #B40DFF;
        }
      }
    }
  }
  .photo-area{
    .upload{
      background: #B40DFF;
      border-radius: 10px;
      min-height: 20px;
      float: left;
      width: 120px;
      padding: 15px;
      text-align: center;
      .center{
        background: #864e9e;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        margin: 0px auto;
        position: relative;
        svg{
          position: absolute;
          left: 14px;
          top: 14px;
        }
      }
      label{
        color: #fff;
        margin-top: 10px;
      }
    }
    .chk-area{
      p{
        margin-bottom: 3px;
      }
      .chk-label{
        font-size: 11px;
        margin-left: 10px;
      }
    }

    .promo-area{
      margin-top: 20px;
      .chk-label{
        font-size: 11px;
        margin-left: 7px;
      }
      .promo-code{
        padding-left: 45px;
        margin-top: -15px;
        position: relative;
        input{
          display: block;
        }
        .discounted{
          position: absolute;
          right: 0px;
          bottom: -4px;
          .cross{
            text-decoration: line-through;
          }
        }
        .dummy{
          background: #FFFFFF;
          min-height: 20px;
          border-radius: 10px;
          padding: 15px;
          overflow: hidden;
          box-shadow: 0px 5.63889px 16.1111px rgba(0, 0, 0, 0.08);
          .left{
            float: left;
            width: 50px;
            height: 50px;
            background: linear-gradient(180deg, #000000 0%, #666666 100%);
            border-radius: 10px;
            opacity: 0.4;
          }
          .right{
            float: left;
            width: calc(100% - 70px);
            padding-left: 10px;
            opacity: 0.4;
            p{
              background: linear-gradient(180deg, #000000 0%, #666666 100%);
              height: 10px;
              border-radius: 5px;
              margin-bottom: 7px;
            }
          }
        }
        .select-card{
          background: linear-gradient(180deg, #24DFF7 0%, #1CBEC9 100%);
          color: #fff;
          border: 0px;
          border-radius: 10px;
          font-size: 12px;
          margin-left: 15px;
        }
      }
    }
  }

}

.order-aside-mb{
  display: block;
}

.hidden{
  display: none;
}

.mb-visible{
  display: none;
}

.mb-navigator{
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100%;
  background: #fff;
  height: 60px;
  text-align: center;
  display: none;
  svg{
    position: absolute;
    left: 30px;
    top: 22px;
  }
  p{
    margin-top: 16px;
    font-weight: 600;
    font-size: 16px;
  }
}

.flex-top-name{
  display: flex;
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 896px) {

    .dishEditorMobile{
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      background: whitesmoke;
    }

    .collapse-area .collapse-container .collapse-header span{
      font-size: 12px;
    }
    .wrapper{
      padding-left: 0px;
    }
    .navbar-cstm{
      padding-left: 0px;
    }
    .menu-btn{
      display: block;
    }
    .menu-close{
      display: block;
    }
    .logo-sidebar{
      display: none;
    }
    .hidden-lg{
      display: block;
    }
    .extra-space{
      min-height: 100px;
      padding: 25px;
      background: #fff;
      .dropdown-toggle{
        &::after{
          display: none;
        }
      }
      .cstm-drop{
        margin-top: 5px;
      }
    }
    .sidebar-wrapper{
      z-index: 999;
      background: #f5f5f5;
      border-right: 1px solid #dddddd;
      .menu-list{
        margin-top: 20px;
        a{
          border-left: 0px;
          cursor: pointer;
        }
      }
    }
    .container-login{
      width: 90%;
      margin: 20% auto;
      .ls-panel{
        padding: 30px 25px;
      }
    }
    .tab-cstm{
      div.nav-item{
        a{
          font-size: 14px;
          padding: 2px 10px !important;
        }
      }
    }
    .mb-total-view{
      display: block;
    }
    .ord-table .ord-title{
      font-size: 13px;
    }
    .ord-table .price{
      font-size: 13px;
    }
    .flex-area{
      padding: 15px !important;
    }
    .order-detail{
      height: 100%;
    }
    .mb-order-table{
      .ord-table{
        height: auto;
      }
    }
    .mb-hidden{
      display: none;
    }
    .order-ptable table td{
      width: 20px;
    }
    .order-desc-area{
      min-height: 85vh;
    }
    .collapse-area .collapse-container .collapse-content .col {
      padding: 12px 10px;
    }
    .collapse-area .collapse-container .collapse-content .col input{
      margin-bottom: 10px;
    }
    .mb-visible{
      display: inline-flex;
    }
    .mb-navigator{
      display: block;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .collapse-area .collapse-container .collapse-header span{
      font-size: 12px;
    }
    .wrapper{
      padding-left: 0px;
    }
    .navbar-cstm{
      padding-left: 0px;
    }
    .menu-btn{
      display: block;
    }
    .menu-close{
      display: block;
    }
    .logo-sidebar{
      display: none;
    }
    .hidden-lg{
      display: block;
    }
    .extra-space{
      min-height: 100px;
      padding: 25px;
      background: #fff;
      .dropdown-toggle{
        &::after{
          display: none;
        }
      }
      .cstm-drop{
        margin-top: 5px;
      }
    }
    .sidebar-wrapper{
      z-index: 999;
      background: #f5f5f5;
      border-right: 1px solid #dddddd;
      .menu-list{
        margin-top: 20px;
        a{
          border-left: 0px;
          cursor: pointer;
        }
      }
    }
    .container-login{
      width: 90%;
      margin: 20% auto;
      .ls-panel{
        padding: 30px 25px;
      }
    }
    .tab-cstm{
      div.nav-item{
        a{
          font-size: 14px;
          padding: 2px 10px !important;
        }
      }
    }
    .mb-total-view{
      display: block;
    }
    .ord-table .ord-title{
      font-size: 13px;
    }
    .ord-table .price{
      font-size: 13px;
    }
    .flex-area{
      padding: 15px !important;
    }
    .order-detail{
      height: 100%;
    }
    .mb-order-table{
      .ord-table{
        height: auto;
      }
    }
    .mb-hidden{
      display: none;
    }
    .order-ptable table td{
      width: 20px;
    }
    .order-desc-area{
      min-height: 85vh;
    }
    .collapse-area .collapse-container .collapse-content .col {
      padding: 12px 10px;
    }
    .collapse-area .collapse-container .collapse-content .col input{
      margin-bottom: 10px;
    }
    .mb-visible{
      display: inline-flex;
    }
    .mb-navigator{
      display: block;
    }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 896px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .collapse-area .collapse-container .collapse-header span{
      font-size: 12px;
    }
    .wrapper{
      padding-left: 0px;
    }
    .navbar-cstm{
      padding-left: 0px;
    }
    .menu-btn{
      display: block;
    }
    .menu-close{
      display: block;
    }
    .logo-sidebar{
      display: none;
    }
    .hidden-lg{
      display: block;
    }
    .extra-space{
      min-height: 100px;
      padding: 25px;
      background: #fff;
      .dropdown-toggle{
        &::after{
          display: none;
        }
      }
      .cstm-drop{
        margin-top: 5px;
      }
    }
    .sidebar-wrapper{
      z-index: 999;
      background: #f5f5f5;
      border-right: 1px solid #dddddd;
      .menu-list{
        margin-top: 20px;
        a{
          border-left: 0px;
        }
      }
    }
    .container-login{
      width: 90%;
      margin: 20% auto;
      .ls-panel{
        padding: 30px 25px;
      }
    }
    .tab-cstm{
      div.nav-item{
        a{
          font-size: 14px;
          padding: 2px 10px !important;
        }
      }
    }
    .mb-total-view{
      display: block;
    }
    .ord-table .ord-title{
      font-size: 13px;
    }
    .ord-table .price{
      font-size: 13px;
    }
    .flex-area{
      padding: 15px !important;
    }
    .order-detail{
      height: 100%;
    }
    .mb-order-table{
      .ord-table{
        // background: transparent !important;
      }
    }
    .collapse-area .collapse-container .collapse-content .col {
      padding: 12px 10px;
    }
    .mb-navigator{
      display: block;
    }
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 896px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .collapse-area .collapse-container .collapse-header span{
      font-size: 12px;
    }
    .wrapper{
      padding-left: 0px;
    }
    .navbar-cstm{
      padding-left: 0px;
    }
    .menu-btn{
      display: block;
    }
    .menu-close{
      display: block;
    }
    .logo-sidebar{
      display: none;
    }
    .hidden-lg{
      display: block;
    }
    .extra-space{
      min-height: 100px;
      padding: 25px;
      background: #fff;
      .dropdown-toggle{
        &::after{
          display: none;
        }
      }
      .cstm-drop{
        margin-top: 5px;
      }
    }
    .sidebar-wrapper{
      z-index: 999;
      background: #f5f5f5;
      border-right: 1px solid #dddddd;
      .menu-list{
        margin-top: 20px;
        a{
          border-left: 0px;
        }
      }
    }
    .container-login{
      width: 90%;
      margin: 20% auto;
      .ls-panel{
        padding: 30px 25px;
      }
    }
    .tab-cstm{
      div.nav-item{
        a{
          font-size: 14px;
          padding: 2px 10px !important;
        }
      }
    }
    .mb-total-view{
      display: block;
    }
    .ord-table .ord-title{
      font-size: 13px;
    }
    .ord-table .price{
      font-size: 13px;
    }
    .flex-area{
      padding: 15px !important;
    }
    .order-detail{
      height: 100%;
    }
    .mb-order-table{
      .ord-table{
        // background: transparent !important;
      }
    }
    .collapse-area .collapse-container .collapse-content .col {
      padding: 12px 10px;
    }
    .mb-navigator{
      display: block;
    }
}

.f-w{
  width: 100% !important;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
    .hor-inline .time-block{
      width: 100%;
      margin-top: 13px;
    }
    .cstm-select.mini .css-yk16xz-control{
      width: 130px;
    }
    .hor-inline .time-block .dash{
      left: 145px;
    }
    .collapse-area .collapse-container .collapse-content .col {
      padding: 12px 10px;
    }
    .mb-navigator{
      display: block;
    }
  }
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px){
    .hor-inline .time-block{
      width: 100%;
      margin-top: 13px;
    }
    .cstm-select.mini .css-yk16xz-control{
      width: 130px;
    }
    .hor-inline .time-block .dash{
      left: 145px;
    }
    .collapse-area .collapse-container .collapse-content .col {
      padding: 12px 10px;
    }
    .mb-navigator{
      display: block;
    }
  }


.collapse-content {
  textarea{
    padding: 10px;
  }
}

.divP {
  margin-top: 0;
  margin-bottom: 1rem;
}

.trigger{
  left: 0px !important;
  right: auto !important;
}

.menu-close.desktop{
  top: 64px;
  right: 10px;
  display: none;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .mb-sidepanel {
      left: auto !important;
      right: 100% !important;
  }

  .wrapper {
      padding-left: 0px;
  }
  .navbar-cstm{
      padding-left: 0px;
  }
  .menu-close.desktop {
      display: block;
  }
  .container-login img {
    margin-top: -140px;
    width: 170px;
  }
  // .avatar{
  //   img{
  //     width: 100px;
  //   }
  // }
  .headerImage{
    display: none;
  }
}

// @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 1024px) {
//     .mb-sidepanel{
//       left: auto !important;
//       right: 100% !important;
//     }
//     .wrapper{
//       padding-left: 0px;
//     }
// }